.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
@media (max-width: 1200px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 992px) {
  .card-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}